.button {
    background-color: #6278F7;
    mix-blend-mode: normal;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #FFF;
    margin: 32px 10px; 
}

.button:hover {
    color: #95FFD4;
}